@import url('https://fonts.googleapis.com/css?family=Anton');

body{
  margin: 0;
  padding: 0;
  background-image: url('../img/bg31.png');
  z-index: -1;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.box {
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: none;
  z-index: 20;
}

.fixed-top-left {
  height: auto;
}

.fixed-top-right {
  height: auto;
  float: right;
}


.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index:100;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

#countdown {
  width: 100%;
  margin-left: 3.5%;
}
label {
  clear: both;
  display: block;
}
#countdown span {
  background-color: transparent;
  color: #FFF;
  font-size: 2em;
  font-family: 'Anton', sans-serif;
  font-weight: normal;
  text-align: center;
  width: 25%;
  display: block;
  float: left;
  border-left: 1px solid #FFF;
  border-right: 1px solid #FFF;
  border-radius: 15%;
}
#countdown span:last-child {
  border-right: 1px solid #313233;
}

.timer {
  margin: 0 auto;
  width: 20%;
  text-align: center;
}

.icons-social  {
font-size:5vh;
text-align: center;
}

.bullet {
  float: right;
  margin-right: 5%;
  margin-bottom: 2%;
  width: 8vw;
  height: 8 vh;
}

.icons-social a {
	color: #FAFAFA;
}

.icons-social a svg path{
	fill: #FAFAFA;
}

.icon {
  padding-left: 0vh;
  padding-right: 0vh;
  padding-bottom: 0vh;
	margin-right:1.5vh;
  margin-left:1.5vh;
}


@media only screen and (max-width: 800px) {
  .fixed-top-right {
    display: none;
  }
  .bullet {
    display: none;
  }
  #countdown {
    margin-bottom: 22%;
  }
  .box{
    background-size: cover;
  }
}
