body{
  margin: 0;
  padding: 0;
  background-image: url('../img/bg31.png');
  z-index: -1;
  height: 100%;
  width: 100%;

  width: 100%;
  height: 100vh;

  top: 0;
  left: 0;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

section {
  height: 100vh;
  background-image: url('../img/crosshair2.png');
  overflow: hidden;
  z-index: 20;
}

.clock {
  position: absolute;
  /* z-index: 10; */
  top: 89%;
  display: inline;
  height: auto;
  width: 35vw;
}

.clockbox {
  position: fixed;
  left: 32%;
  z-index : 8;
}

.fixed-top-left {
  position: fixed;
  top: 7px;
  left: 5px;
  height:auto;
  width:18%;

}

.fixed-top-right {
  position: fixed;
  top: 1vw;
  right: 1vw;
  height: auto;
  justify-content: center;
  width:35%;
}

.icons-social  {
padding:0;
position:absolute;
bottom:2%;
font-size:4vh;
/* justify-content: center; */
margin-right: 185%;
}

.icons-social a {
	color: #FAFAFA;
}

.icons-social a svg path{
	fill: #FAFAFA;
}

.icon {
  padding-left: 0vh;
  padding-right: 0vh;
  padding-bottom: 0vh;
	margin-right:2.5vh;
  margin-left:2.5vh;
}


@media only screen and (max-width: 600px) {
    section {
        background-size: cover;
    }
}

.bullet {
  position: fixed;
  top: 88%;
  left: 90%;
  width: 8vw;
  height: 8 vh%;
}

.footer {
  position: fixed;

}
