@import url('https://fonts.googleapis.com/css?family=Anton');
@font-face{
 font-family:'digital-clock-font';
 src: url('../img/digital-7.ttf');
}


body{
  margin: 0;
  padding: 0;
  background-image: url('../img/bg.jpg');
  z-index: -1;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.box {
  height: 100vh;
  width: 100%;
  overflow: none;
  z-index: 20;
}

.fixed-top-left {
  height: auto;
}

.fixed-top-right {
  height: auto;
  float: right;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index:100;
}

.footer {
  display: flex;
  position: fixed;
  bottom: 0;
  z-index: 10000;
  width: 100%;
}

.footer .row{
  display:inline-grid;
  width: 100%;
}

.icons-social  {
  font-size:5vh;
  position: relative;
  bottom: 0;
  transform: translateY(10vh);
}

.countdown {
  font-family: 'digital-clock-font', sans-serif;
  text-align: center;
  font-size: 2em;
}

.countdown li {
  font-size: 0.6em;
}

.bullet {
  position: absolute;
  top: 8vh;
  right: 10vh;
  width: 8vw;
  margin: 0 auto;
  text-align: center;
}

.icons-social a {
	color: #FAFAFA;
}

.icons-social a svg path{
	fill: #FAFAFA;
}

.icon {
  padding-left: 0vh;
  padding-right: 0vh;
  padding-bottom: 0vh;
	margin-right:1.5vh;
  margin-left:1.5vh;
}




@media only screen and (max-width: 900px) {
    body{
    margin: 0;
    padding: 0;
    background-image: url('../img/bg.jpg');
    z-index: -1;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    }
    .fixed-top-right {
      display: none;
    }
    .bullet {
      display: none;
    }
    .box{
      background-size: cover;
    }
    
    .footer .row{
      display: inline-grid;
    }
    .icons-social  {
     
    }

    .countdown{
      text-align: center;
    }
    .phone-display {
      border: 0;
      clear:both;
      display:block;
      width: 100%;
      background-color:#FFF;
      height: 2px;
    }
    .countdown li span{
      font-size:3em;
    }

    .sub {
      font-size:0.6em;
    }

    .fixed-top-left {
      width: 40%;
    }

  }

  @media only screen and (max-width: 300px){

    body{
    margin: 0;
    padding: 0;
    background-image: url('../img/bg.jpg');
    z-index: -1;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

    .icons-social{
      display: flex;
      flex:100%;
  }

}

h1 {
  font-weight: normal;
}

.countdown{
  z-index: 10000000;
  text-align: center;
}


li {
  display: inline-block;
  font-size: 0.8em;
  list-style-type: none;
  padding: 1%;
  text-transform: uppercase;
  color:white;
  z-index: 1000000!important;
}

li span {
  display: block;
  font-size: 4rem;
}
